/* mobile */

.board__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.board__board {
  object-fit: contain;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  max-width: 650px;
}

.board__square {
 
  width: 4.5em;
  height: 4.2em;
  border-top: 1px solid rgba(38, 38, 17);
  border: 1px solid rgba(38, 38, 17);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 0.6rem;
  text-align: center;
  padding: 0.5rem 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-grow: 1;
}

.board__tile {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fffcb9;
  border-radius: 2px;
  position: absolute;
  width: 90%;
  height: 90%;
  font-size: 1.1rem;
  
}

.board__square:hover {
  outline: 2px solid yellow;
}

.board__bonus-text {
  display: none;
}
.board__square {
  background: rgb(60, 134, 60);
}
.board__square.double-letter {
  background: lightblue;
}
.board__square.triple-letter {
  background: rgb(99, 99, 223);
}
.board__square.double-word {
  background: rgb(250, 180, 114);
}
.board__square.triple-word {
  background: red;
}
.board__square.with-tile {
  background: purple;
}

.disabled {
  filter: grayscale(30%);
  -webkit-filter: grayscale(30%);
  opacity: 0.3;
  pointer-events: none;
}

/* tablet */
@media (min-width: 500px) {
  .board__square {
    padding: 1rem 0;
  }
}

/* large tablet */
@media (min-width: 750px) {
}

/* laptop */
@media (min-width: 1000px) {
}

/* desktop */
@media (min-width: 1250px) {
  .board__bonus-text {
    display: block;
    font-size: 0.6rem;
  }
  .board__square {
    padding: 1rem 0;
  }
}
