/* mobile */

.board__wrapper {
  margin: 2% 0 0 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.board__board {
  width: 95vw;
  height: 95vw;
  display: grid;
  padding: 0px;
  border: 4px solid rgb(210 210 208);
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-gap: 1px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  min-height: 350px;
  min-width: 350px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.board__square {
  width: 100%;
  height: 100%;
  outline: 2px solid rgba(113, 120, 128, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 0.6rem;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.board__tile {
  color: rgb(42, 102, 42);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fffcb9;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  box-shadow: 0 0 0px 1px black, inset 0 -1px 3px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.board__square:hover {
  outline: 2px solid yellow;
  z-index: 3;
}

.board__bonus-text {
  color: rgb(250, 244, 244);
  text-shadow:0 0 2px rgb(3, 3, 3);
  font-size: 1.2em;
}

.board__square {
  background: rgb(244, 247, 246);
}

.board__square.double-letter {
  background: rgb(190, 231, 243);
}

.board__square.triple-letter {
  background: rgb(172, 196, 252);
}

.board__square.double-word {
  background: rgb(250, 207, 168);
}

.board__square.triple-word {
  background: rgb(252, 138, 138);
}

.board__square.with-tile {
  background: purple;
}

.disabled {
  filter: grayscale(30%);
  -webkit-filter: grayscale(30%);
  opacity: 0.3;
  pointer-events: none;
}

.board__centre {
  background: rgb(251, 244, 30);
}

.center__star {
  width: 100%;
  height: auto;
  padding: 15%;
  filter: drop-shadow(0 0 1px rgb(165, 163, 163));
  -webkit-filter: drop-shadow(0 0 1px rgb(165, 163, 163));
}

/* tablet */

@media (max-height: 850px) {
  .board__board {
    max-width: 410px;
    max-height: 410px;
  }
}

@media (min-width: 550px) {
  .board__board {
    align-self: center;
    width: 61vh;
    height: 61vh;
  }
}

/* large tablet */
@media (min-width: 750px) {
  .board__wrapper {
    display: flex;
    flex-direction: column;
    margin: 5px 0 0 0;
  }

  .board__board {
    align-self: center;
    width: 70vh;
    height: 70vh;
    max-width: 100vw;
    max-height: 100vw;
  }
  
  .board__bonus-text {  
    font-size: 2em;
  }
}

@media (max-height: 650px) {
  .board__bonus-text {  
    font-size: 1.2em;
  }
}

/* laptop */


/* desktop */
@media (min-width: 1250px) {
  .board__bonus-text {
    display: block;
    //font-size: 0.9rem;
   
  }

}




@media (max-width: 970px) {
 
}

@media (min-width: 1200px) {
 
}

