.chat__wrapper {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* same as status bar height - to align with board (mobile view) */
  
  background: #333;
  color: white;
}

.chat__list {
  list-style: none;
  overflow-y: auto;
  padding: 0.5rem;
}

.chat__wrapper form {
  display: flex;
  justify-content: center;
}

.chat__message {
  margin: 0.2rem 0;
}

.guest {
  color: red ;
  font-size: 8px;
}

.host {
  color: blue;
  font-size: 8px;
}

/* tablet */
@media (min-width: 500px) {
}

/* large tablet */
@media (min-width: 750px) {
  .chat__wrapper {
    grid-column: 3;
    grid-row: 1/3;
    margin: 5px 0 0 0;
  }
}

/* laptop */
@media (min-width: 1000px) {
}

/* desktop */
@media (min-width: 1250px) {
}
