.chat__wrapper {
  width: 100%;
  border: 1px solid rgb(189, 189, 189);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*sameasstatusbarheight-toalignwithboard(mobileview)*/
  background: rgb(223, 222, 220);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  color: #222;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  max-width: 200px;
  display: none;
}

.chat__list-wrapper {
    overflow-y: scroll;
    height: 70vh;
    min-height: 527px;
    background: #eee;
    margin: .1em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    //width: 100%;
}

.chat__list-wrapper-modal {
  overflow-y: scroll;
  height: 75.5vh;
  background: #eee;
  margin: .1em;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.chat__list {
  list-style: none;
  padding: 0.5rem;
  overflow-wrap: break-word;
}

.chat__wrapper form {
  display: flex;
  justify-content: center;
  padding: 0.2em;
}

.chat__message {
  margin: 0.2rem 0;
}

.timeStamp {
  color: rgb(99, 99, 99);
  font-size: .5em;
  padding: 0 0;
}

.guest {
  color: red ;
  font-size: 8px;
  padding: 0 1em;
}

.host {
  color: blue;
  font-size: 8px; 
  padding: 0 1em;
}

/* tablet */
@media (min-width: 500px) {
}

/* large tablet */
@media (min-width: 850px) {
  .chat__wrapper {
    position: relative;
    grid-column: 3;
    grid-row: 1/3;
    margin: 2% 0 2% 0;
    display: flex;
    width: 100%;
    max-width: unset;
  }
  .chat__list {
    font-size: 1.8em;
  }

  .chat__list-wrapper {
    min-height: 480px;
  }
  .host, .guest, .timeStamp {
    font-size: .5em;
  } 
  .chat__wrapper form {
    flex-direction: column;
    height: 11vh;
  }
  .chat__wrapper input {
    height: 100%;
    margin-bottom: .3em;
    padding: 0.4em;
    border-radius: 3px;
    border: 1px solid #aaa;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 1em;
  }
  .chat__wrapper button {
    font-size: 1em;
    height: 3em;
  }

}

/* laptop */
@media (min-width: 1000px) {
}

/* desktop */
@media (min-width: 1250px) {
}
