.confirmModal__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmModal__content {
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  font-size: 1.5rem;
  min-height: 200px;
  border-radius: 6px;
}

.confirmModal__content button {
  margin-top: 2rem;
  font-size: 1.2rem;
}

/* tablet */
@media (min-width: 500px) {
  .confirmModal__content {
    width: 70%;
  }
}

/* large tablet */
@media (min-width: 750px) {
  .confirmModal__content {
    width: 50%;
  }
}

/* laptop */
@media (min-width: 1000px) {
  .confirmModal__content {
    width: 40%;
  }
}

/* desktop */
@media (min-width: 1250px) {
  .confirmModal__content {
    width: 30%;
  }
}
