.confirmModal__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.confirmModal__content {
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1.5rem;
  min-height: 200px;
  border-radius: 6px;
  opacity: 0;
}

.confirmModal__content p {
  text-align: center;
}

.confirmModal__content button {
  margin-top: 2rem;
  font-size: 1.2rem;
  
}

.button__confirm {
  color: rgb(112, 243, 112);
  text-shadow: none;
  font-family: 'Acme', sans-serif;
  text-shadow: 0px 0px 2px  rgba(0, 0, 0, 0.5);
}

.button__cancel {
  color: rgb(250, 145, 103);
  text-shadow: none;
  font-family: 'Acme', sans-serif;
  text-shadow: 0px 0px 2px  rgba(0, 0, 0, 0.5);
}

/* tablet */
@media (min-width: 500px) {
  .confirmModal__content {
    width: 70%;
  }
}

/* large tablet */
@media (min-width: 750px) {
  .confirmModal__content {
    width: 50%;
  }
}

/* laptop */
@media (min-width: 1000px) {
  .confirmModal__content {
    width: 40%;
  }
}

/* desktop */
@media (min-width: 1250px) {
  .confirmModal__content {
    width: 30%;
  }
}
