/* mobile */

.gameScreen__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: rgb(223,206,174);
  background: linear-gradient(0deg, rgba(223,206,174,1) 71%, rgba(187,172,144,1) 100%);
  padding: 20px;
  height: 100%;
}

.gameScreen__main {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    //grid-template-columns: auto;
}

.gameScreen__board {
  display: flex;
    flex-direction: column;
  justify-content: center;;
  margin: 0;
  perspective: 1000px;
  object-fit: contain;
}

/* tablet */
@media (min-width: 500px) {
  .gameScreen__board {
    //width: 90%;
  }
}

/* large tablet */
@media (min-width: 750px) {
  .gameScreen__board {
    
  }
  .gameScreen__wrapper {
    flex-direction: row;
  }
  .gameScreen__main {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
}

/* laptop */
@media (min-width: 1000px) {
}

/* desktop */
@media (min-width: 1250px) {
}
