.gameOverModal__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameOverModal__content {
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem .5em;
  font-size: 1.5rem;
  min-height: 200px;
  border-radius: 6px;
}

.gameOverModal__content h3 {
  margin-bottom: .5em;
}

.gameOverModal__content h4 {
  margin-bottom: .5em;
  text-align: center;
}

.gameOverModal__content p {
  margin-bottom: .5em;
}

.gameOverModal__content p:last-of-type {
  margin-bottom: 1.5em;
}

.gameOverModal__content button {
  margin-top: 2rem;
  font-size: 1.2rem;
  max-width: 200px;
  margin: 2em 0 0;
}

/* tablet */
@media (min-width: 500px) {
  .gameOverModal__content {
    width: 70%;
  }
}

/* large tablet */
@media (min-width: 750px) {
  .gameOverModal__content {
    width: 50%;
  }
}

/* laptop */
@media (min-width: 1000px) {
  .gameOverModal__content {
    width: 40%;
  }
}

/* desktop */
@media (min-width: 1250px) {
  .gameOverModal__content {
    width: 30%;
  }
}
