/* mobile */

.gameScreen__content {
  display: flex;
  margin: 0 auto;
  flex-direction: column-reverse;
}

.gameScreen__main {
  flex-basis: 80%;
}

.gameScreen__boardAndRack {
  width: 100%;
}

/* tablet */
@media (min-width: 500px) {
  .gameScreen__boardAndRack {
    width: 80%;
  }
}

/* large tablet */
@media (min-width: 750px) {
  .gameScreen__content {
    flex-direction: row;
  }
  .gameScreen__boardAndRack {
    width: 70%;
  }
}

/* laptop */
@media (min-width: 1000px) {
}

/* desktop */
@media (min-width: 1250px) {
}
