/* mobile */

.gameScreen__wrapper {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.gameScreen__main {
  width: 100%;
  display: inline-grid;
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 1fr;
  height: 100%;
  justify-content: space-between;
  padding: 10px;
  min-height: 600px;
}

.gameScreen__board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  perspective: 1000px;
}

/* tablet */
@media (min-width: 500px) {
  
}

/* large tablet */
@media (min-width: 850px) {
   
  .gameScreen__wrapper {
    width: auto;
    height: auto;
  }
  
  .gameScreen__main {
    height: auto;
    grid-template-columns: minmax(150px, 200px) auto auto;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .gameScreen__board {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 1/3;
  }
}

/* laptop */
@media (min-width: 1000px) {
}

/* desktop */
@media (min-width: 1250px) {
}
