.gameButtons__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(135, 131, 128);
  border-radius: 3px;
  border: 1px solid #6f6f6e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 0.8em;
  padding: 5px 7px;
  width: 100%;
  text-decoration: none;
  box-shadow: inset 0 -2px 2px rgba(0,0,0,0.3),
    0px 2px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  letter-spacing: 0.05em;
  font-family: "Acme", sans-serif;
}

.button__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1em;
  padding: 0.5em;
}

button img {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
  width: 30px;
  height: auto;
  opacity: 0.9;
  margin-bottom: 0.5em;
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
}

button:hover {
  background: rgb(159, 156, 154);
}

button:active {
  position: relative;
  top: 1px;
}

.gameButtons__wrapper button {
  margin: 2px;
}

@media (min-width: 450px) {
  button img {
    width: 20px;
    margin-bottom: 0;
    margin-right: 1em;
  }
  .button__text {
    flex-direction: row;
  }
}

@media (min-width: 500px) {
  button img {
    width: 25px;
  }
  .button__text {
    font-size: 1.3em;
  }
}


@media (min-width: 1100px) {
  button {
    font-size: 1em;
  }
}


@media (min-width: 850px) {
  .gameButtons__wrapper {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 2;
    align-self: flex-end;
    justify-content: space-between;
    height: 60%;
    flex-wrap: nowrap;
    padding: 0;
  }

  .gameButtons__wrapper button {

    margin: 5px 0px;
    height: 25%;
  }

  .button__text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 1.7em;
  }

  button img {
    width: 35px;
    height: auto;
    opacity: 0.9;
  }
}


@media (max-height: 850px) {
	.gameButtons__wrapper button {
	  font-size: .8em;
	}
  button img {

    margin: 0 .8em;
  }
	
  }

  

@media (max-height: 650px) {
	.gameButtons__wrapper button {
	  font-size: .6em;
  }
  
}