.gameButtons__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: rgb(135, 131, 128);
	border-radius:3px;
	border: 1px solid #6f6f6e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: .8em;
	padding: 5px 7px;
	width: 100%;
	text-decoration:none;
	box-shadow:inset 0px -1px 2px 0px rgba(0, 0, 0, 0.3), 0px 2px 5px rgba(0, 0, 0, 0.3);
  	text-shadow: 0px 0px 4px  rgba(0, 0, 0, 0.6);
  	white-space: nowrap;
	letter-spacing: .05em;
	font-family: 'Acme', sans-serif;
}

.button__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 1em;
	padding: .5em;
	
}

button img {
	filter: drop-shadow(0px -.5px 2px  rgba(0, 0, 0, 0.4));
	width: 20px;
	height: auto;
	opacity: .9;
	margin-bottom: .5em;
	-webkit-filter: drop-shadow(0px -.5px 2px  rgba(0, 0, 0, 0.4));
}


button:hover {
	background: rgb(159, 156, 154);
}

button:active {
	position:relative;
	top:1px;
}

.gameButtons__wrapper button {
	margin: 2px;
}

@media (min-width: 400px ) {
	button img {
		margin-bottom: 0;
		margin-right: 1em;
	}
	.button__text {
		flex-direction: row;
	}
}
	

@media (min-height: 720px ) {
	.gameButtons__wrapper button {
		height: 10vh;
	}
}
  

@media (min-width: 1100px ) {
	button {
		font-size: 1em;
	}
}

@media (min-width: 750px ) {
	  
	.gameButtons__wrapper {
		display: flex;
		flex-direction: column;
		grid-column: 1;
		grid-row: 2;
		align-self: flex-end;
		justify-content: space-between;
		height: 60%;
		flex-wrap: nowrap;
		padding: 0;
	}

	.gameButtons__wrapper button {
		height: 20%;
		padding: 10px 15px;
		margin: 5px 0px;
		height: 25%;
	}

	  
	.button__text {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		font-size: 1.5em;
	}

	button img {
		width: 40px;
		height: auto;
		opacity: .9;
		margin-right: 1em;
	}
}

 
  
