.gameOverModal__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.gameOverModal__content {
  width: 90%;
  background-color: white;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 240, 240, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0.5em;
  font-size: 1.5rem;
  min-height: 200px;
  border-radius: 6px;
  opacity: 0;
  text-align: center;
}

.gameOverModal__hsw--hidden {
  display: none;
}

.gameOverModal__content h3 {
  margin: 1em 0 0.5em;
}

.gameOverModal__content h2 {
  margin: 0.5em 1em 0.5em;
  text-shadow: 0 0 2px rgb(250, 204, 76);
  text-shadow: 2px 2px 1px rgb(177, 177, 177);
  text-align: center;
}

.gameOverModal__content h4 {
  margin: 1em 0 0.5em;
  text-align: center;
}

.gameOverModal__content p {
  margin-bottom: 0.5em;
}

.gameOverModal__content p:last-of-type {
  margin-bottom: 1.5em;
}

.gameOverModal__content button {
  margin-top: 2rem;
  font-size: 1.2rem;
  max-width: 200px;
  margin: 1em 0 1em;
}

/* tablet */
@media (min-width: 500px) {
  .gameOverModal__content {
    width: 70%;
  }
}

/* large tablet */
@media (min-width: 750px) {
  .gameOverModal__content {
    width: 50%;
  }
}

/* laptop */
@media (min-width: 1000px) {
  .gameOverModal__content {
    width: 40%;
  }
}

/* desktop */
@media (min-width: 1250px) {
  .gameOverModal__content {
    width: 30%;
  }
}

@media (max-height: 650px) {
  .gameOverModal__content {
    font-size: 1.2rem;
  }
}
