@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
  margin: 0;
  margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;;
}

body {
  
  background: rgb(231,225,214);
  background: radial-gradient(circle, rgb(221, 218, 211) 1%, rgb(164, 160, 151) 100%) fixed;
}

html {
  height: 100%;
}

.page {
  //min-height: 100vh;
}

#root {
  height: 100%;
}

h1 {
  font-size: 2em;
  //padding: 10px;
  margin: 0;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, .7);
}

@media (min-width: 750px) {
  .page {
    display: flex;
    flex-direction: column;
     align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 2em;
  }
}