@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");

* {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
}

html {
  height: 100%;
  min-width: 375px;
  min-height: 650px;
  --bg-modal-wrap: rgba(0, 0, 0, 0.8);
  --bg-modal: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 240, 240, 1) 100%
  );
  --shadow-h2: 2px 2px 1px rgb(177, 177, 177);
  --shadow-confirm-text: 0px 0px 2px rgba(0, 0, 0, 0.5);
  
  
}

#root {
  height: 100%;
}

body {
  background: rgb(231, 225, 214);
  background: radial-gradient(
      circle,
      rgb(221, 218, 211) 1%,
      rgb(164, 160, 151) 100%
    )
    fixed;
  color: #1b1b1b;
  height: 100%;
}

.page {
  height: 100%;
  position: relative;

}


a {
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #1b1b1b;
  text-decoration: underline;
}

a:visited {
  color: #444;
}

h1 {
  font-size: 2em;
  font-family: "Ranchers", cursive;
}

.container__full-height {
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content:center;
}

button:focus {
  outline: rgb(120, 120, 120) auto 1px;
  outline-style: auto;
  outline-width: 0px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #666;
}

@media (min-width: 850px) {
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 2em;
  }

}
@media (min-width: 850px) and (min-height: 800px) {
  .page {
    font-size: 18px;
  }
}
@media (min-height: 770px) {
  .container__full-height {
    height: calc(100vh - 55px);
  }
}
