/* mobile */

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background: rgb(62,61,60);
  background: radial-gradient(circle, rgba(62,61,60,1) 1%, rgba(47,46,45,1) 100%);
  padding: .5rem;
  color:   #f3f2d2;
  font-family: scripts;
  letter-spacing: 5px;
}

.header__wrapper h1 {
  padding-left: 40px;
  width: 100%;
  margin: 0;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, .7);
}



.header__rules {
  width: 40px;
  cursor: pointer;
  display: flex;
}

.header__rules img {
  width: 25px;
  height: auto;
}
