/* mobile */

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background: rgb(62,61,60);
  background: radial-gradient(circle, rgba(62,61,60,1) 1%, rgba(47,46,45,1) 100%);
  padding: .5rem;
  color:   #f3f2d2;
  font-family: scripts;
  letter-spacing: 5px;
  height: 40px;
  z-index: 2;
}

.header__wrapper h1 {
  font-size: 1.5em;
  margin: 0;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, .7);
  cursor: pointer;
}

.header__title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header__rules {
  width: 40px;
  cursor: pointer;
  display: flex;
  margin-left: -40px;
  justify-content: center;
  align-items: center;
}

.header__chat {
  width: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -40px;
  z-index: 3;
  position: relative;
}

.header__rules img {
  width: 24px;
  height: auto;
}

.header__chat img {
  width: 25px;
  height: auto;
}

.newMsg {
  top: 0;
  left: 60%;
  position: absolute;
  width: .7em;
  height: .7em;
  background: rgb(82, 216, 87);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (min-width: 850px) {
  .header__chat {
    visibility: hidden;
  }
}

@media (min-height: 770px) {
  .header__wrapper {
    height: 55px;
  }
  .header__wrapper h1 {
    font-size: 2em;
  }
}