/* mobile */

.inviteScreen__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(80vh - 75px);
  opacity: 0;
}

.inviteScreen__wrapper h3 {
  margin: 2rem 0;
}

.inviteScreen__wrapper input {
  margin: 1rem 0 0;
}

.inviteScreen__wrapper button {
  width: 200px;
  margin-bottom: 1em;
}

.inviteScreen__list {
  list-style: none;
  width: 100%;
}

.inviteScreen__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}


.inviteScreen__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inviteScreen__wrapper button {
  width: 200px;
  margin-bottom: 1.5em;
  padding: .5em;
}

#time {
  text-align: center;
  width: 200px;
}

/* tablet */
@media (min-width: 500px) {
  .inviteScreen__list {
 
  }
}

/* large tablet */
@media (min-width: 750px) {
  .inviteScreen__list {

  }
}

/* laptop */
@media (min-width: 1000px) {
  .inviteScreen__list {

  }
}

/* desktop */
@media (min-width: 1250px) {
  .inviteScreen__list {
 
  }
}
