.levelSelect__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    //opacity: 0;
  }
  
  .levelSelect__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
  }
  
  .levelSelect__menu h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .levelSelect__main button {
    margin: 10px;
    width: 250px;
    height: 3em;
    padding: 1em;
    display: flex;
    justify-content: space-around;
  }
  