.login__wrapper {
  height: calc(80vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  opacity: 0;
}

.login__wrapper h2 {
  margin-bottom: 2rem;
}

.login__wrapper button {
    margin: 1em 0;
    padding: .5em;
}

.login__wrapper input {
  width: 100%;
  margin-bottom: 1em;
}

@media (min-width: 320px) {
  .login__wrapper input {
    margin-left: 1em;
    width: 65%;
  }
}
