/* mobile */

.players__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(80vh - 75px);
  opacity: 0;
}

.players__wrapper h3 {
  margin: 2rem 0;
}

.players__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  list-style: none;
  width: 100%;
}

.players__player {
  padding: 1rem;
  font-size: 1.2rem;
  background: rgb(79, 112, 153);
  color: white;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 250px;
  text-align: center;
  margin-bottom: 1em;
}

.players__player:last-of-type {
  margin-bottom: 2em;
}

.player__invitations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player__invite-request {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players__wrapper button {
  max-width: 200px;
  margin: 1em 0 2em;
  padding: .5em;
}

.player__invite-request p {
  margin-bottom: 1em;
}

.players__player:hover {
  background: rgb(102, 141, 189);
}

/* tablet */
@media (min-width: 500px) {
  .players__list {
    width: 70%;
  }
}

/* large tablet */
@media (min-width: 750px) {
  .players__list {
    width: 60%;
  }
}

/* laptop */
@media (min-width: 1000px) {
  .players__list {
    width: 50%;
  }
}

/* desktop */
@media (min-width: 1250px) {
  .players__list {
    width: 40%;
  }
}
