/* mobile */

.statusBar__wrapper {
  order: -1;
  display: flex;
  align-items: center;
  padding: .5rem;
  justify-content: space-between;
  flex-direction: column;
  min-height: 6rem;
  background: rgb(247, 243, 236);
  border: 2px solid rgb(155, 131, 88);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.statusBar__wrapper button {
  font-size: 1.3rem;
}

.statusBar__player {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45%;
  justify-content: space-around;
  align-items: center;
  padding: .5em .5em;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  color: #333;
}

.statusBar__player > * {
  //padding: .2em;
}

.player__thinking {
  display: none;
}

.player__name {
  //text-align: center;
   font-size: 1.3em;
   font-weight: bold;

   min-width: 125px;
}

.player__active {
  color: white;
  background: rgb(49, 132, 45);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.opponent__active {
  color: white;
  background: rgb(145, 56, 40);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.player__time, .player__score {
  //padding-left: 1em;
}

/* tablet */
@media (min-width: 500px) {
}

/* large tablet */
@media (min-width: 850px) {
  .gameScreen__boardAndRack {
    //width: 80%;
    //margin: 0 auto;
  }


  .statusBar__wrapper {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 10px;
    /*height: 50%;
    align-self: flex-start;*/
  }
  .statusBar__player {
    flex-direction: column;
  }
  .player__name {
    text-align: center;
  }
 
}

/* laptop */
@media (min-width: 1000px) {
}

/* desktop */
@media (min-width: 1250px) {
}
