/* mobile */

.statusBar__wrapper {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  justify-content: space-around;
  flex-direction: column;
  height: 4rem;
  background: rgb(155, 199, 230);
}

.statusBar__wrapper button {
  font-size: 1.3rem;
}

.statusBar__player {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

/* tablet */
@media (min-width: 500px) {
}

/* large tablet */
@media (min-width: 750px) {
  .gameScreen__boardAndRack {
    //width/: 80%;
    //margin: 0 auto;
  }

  .statusBar__wrapper {
    width: auto;
    grid-column: 1/2;
    grid-row: 1/1;
    flex-direction: column;
    height: 50%;
    align-self: flex-start;
  }
}

/* laptop */
@media (min-width: 1000px) {
}

/* desktop */
@media (min-width: 1250px) {
}
