/* mobile */

.statusBar__frame {
  order: -1;
}

.statusBar__wrapper {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  padding: 0.5em 0.5em;
  justify-content: space-around;
  flex-direction: column;
  background: rgb(240 240 240);
  border: 1px solid rgb(138 137 136);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3),
    inset 0 -2px 2px rgba(0, 0, 0, 0.3);
  color: #222;
  transform: rotateY(0.01deg);
  transform-style: preserve-3d;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  -webkit-transition: transform 0.5s ease, box-shadow 0.5s ease;
  -moz-transition: transform 0.5s ease, box-shadow 0.5s ease;
  -ms-transition: transform 0.5s ease, box-shadow 0.5s ease;
  -o-transition: transform 0.5s ease, box-shadow 0.5s ease;
  position: relative;
  -webkit-transform: rotateY(0.01deg);
  -moz-transform: rotateY(0.01deg);
  -ms-transform: rotateY(0.01deg);
  -o-transform: rotateY(0.01deg);
}

.statusBar__reverse {
  display: flex;
  align-items: center;
  font-size: 0.7em;
  padding: 0.5em 0.5em;
  justify-content: space-around;
  content: "";
  background: rgb(240, 240, 240);
  border: 1px solid rgb(138 137 136);
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  position: absolute;
  border-radius: 3px;
  top: 0px;
  left: -0.7px;
  width: 100.4%;
  height: 100.4%;
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.statusBar__wrapper button {
  font-size: 1.3rem;
}

.statusBar__player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  width: 100%;
  padding: 10px;
  height: 50%;

  /*box-shadow: inset 0 0px 8px rgba(0,0,0,0.1);
  */
}

.player__name {
  min-width: 100px;
}

.player__time {
  min-width: 100px;
}

.timer__wrapper {
}

.player__active {
  background: rgb(140 150 160); /* rgb(47, 85, 123); */
  color: white;
  border: 1px solid white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

.opponent__active {
  background: rgb(159, 92, 75);
  color: white;
  border: 1px solid white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

.pouch {
  position: relative;
  filter: saturate(.7);
  -webkit-filter: saturate(.7);
}

.pouchInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tileCounter {
  position: absolute;
  left: 60%;
  top: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2em;
  height: 1.2em;
  padding: 0.8em;
  background: #fffcb9;
  filter: saturate(1.2);
  box-shadow: 0 0 0px 1px black, inset 0 -1px 2px rgba(0, 0, 0, 0.5);
  color: rgb(42, 102, 42);
  font-size: 1em;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
  -webkit-filter: saturate(1.2);
}

.pouchIcon {
  margin: 0 0.1em 0;
  width: 3.2em;
  height: auto;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
  -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
}

.rackInfo {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aiTile {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2em;
  height: 1.2em;
  background: #fdfabc;
  box-shadow: 0 0 0px 1px black, inset 0 -1px 2px rgba(0, 0, 0, 0.5);
  color: rgb(42, 102, 42);
  margin: 1em 0.1em 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.aiRack {
  
  display: flex;
  min-height: 2.2em;
  text-align: center;
  justify-content: center;
}

.hiScore {
  min-height: 2.2em;
  text-align: center;
  padding-top: 1em;
}

.statusBar__frame:hover .statusBar__wrapper {
  transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -o-transform: rotateX(-180deg);
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3),
    inset 0 -2px 2px rgba(0, 0, 0, 0.3);
}

/* tablet */
@media (min-height: 750px) {
  .statusBar__wrapper {
    font-size: 1em;
    padding: 0.5em 0.5em;
  }
}

@media (min-height: 800px) {
  .statusBar__wrapper {
    font-size: 1.2em;
  }
}

/* large tablet */
@media (min-width: 850px) {
  .statusBar__frame {
    order: -1;
    grid-row: 1/3;
    grid-column: 1;
    font-size: .9em;
  }

  .statusBar__wrapper {
    order: auto;
    align-self: flex-start;
    height: 39%;
    margin-top: 3%;
    font-size: 1.2em;
    padding: 0.5em 0.5em;
  }
  .statusBar__player {
    flex-direction: column;
    justify-content: space-evenly;
    padding: .5em;
  }

  .player__name {
    min-width: 100px;
    font-size: 1.4em;
  }

  .player__time,
  .player__score {
    margin-left: 1em;
  }

  .statusBar__frame:hover .statusBar__wrapper {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3),
      inset 0 0px 2px rgba(0, 0, 0, 0.3);
  }

  .statusBar__reverse {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    position: absolute;
    border-radius: 3px;
    flex-direction: column;
    top: -1px;
    left: -1px;
    width: 100.7%;
    height: 100.7%;
    box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.3);
    font-size: .9em;
  }

  .pouchInfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 9em;
  }

  .pouchInfo h3 {
    text-align: center;
  }

  .pouchIcon {
    margin: 1em 0;
    width: 2.5em;
    height: auto;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
  }
}

/* laptop */
@media (min-width: 1000px) {
}

/* desktop */
@media (min-width: 1250px) {
}


