/* mobile */

.statusBar__wrapper {  
  order: -1;
  display: flex;
  align-items: center;
  padding: 0.5rem .5rem;
  justify-content: space-around;
  flex-direction: column;
  background: rgb(250, 244, 233);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.statusBar__wrapper button {
  font-size: 1.3rem;
}

.statusBar__player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 3px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;

  width: 100%;
  padding: 10px;
  height: 45%;
}

.player__active {
  background: rgb(47, 85, 123);
  color: white;
}


.opponent__active {
  background: rgb(125, 47, 27);
  color: white;
}



/* tablet */
@media (min-width: 500px) {
}

/* large tablet */
@media (min-width: 750px) {

  
  .statusBar__wrapper {
    order: auto;
    grid-row: 1/3;
    grid-column: 1;
    align-self: flex-start;
    height: 40%;

  }
  .statusBar__player {

    flex-direction: column;

  }

  

}

/* laptop */
@media (min-width: 1000px) {
}

/* desktop */
@media (min-width: 1250px) {
}
