/* mobile */

.tileRack__wrapper {
  width: 100%;
  display: flex;
  background: rgb(42, 102, 42);
  padding: 0.2rem 0;
  border-radius: 4px;
}

.tileRack__tile {
  flex-basis: calc(100% / 7 - 5px);
  margin: 0 2px;
}

/* tablet */
@media (min-width: 500px) {
}

/* large tablet */
@media (min-width: 750px) {
}

/* laptop */
@media (min-width: 1000px) {
}

/* desktop */
@media (min-width: 1250px) {
}
