/* mobile */

.tile__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #f3f2d2;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.4);
}

.tile__wrapper:hover {
  background: #fff652;
}

.tile__wrapper--selected {
  background: #fff652;
}

.tile__letter {
  /*height: auto;*/
  color: rgb(42, 102, 42);
  font-size: 1.5rem;
  /*padding: 0.5rem 1rem;*/
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.9);
  z-index: 0;
  user-select: none;
}

.tile__points {
  color: rgb(42, 102, 42);
  position: absolute;
  bottom: 2px;
  right: 3.5px;
  font-size: 0.7rem;
  user-select: none;
}

.tile__points--sm {
  color: rgb(42, 102, 42);
  position: absolute;
  bottom: 2px;
  right: 4px;
  font-size: 0.6rem;
}

.tile__wrapper--rack {
  width: 13.8%;
  margin: 0 1px;
}

/* tablet */
@media (min-width: 500px) {
  .tile__letter {
    padding: 1rem 0;
    font-size: 2rem;
  }
  .tile__points {
    font-size: 1rem;
  }
}

/* large tablet */
@media (min-width: 750px) {
  .tile__letter {
    padding: 1rem 0;
    font-size: 2.5rem;
  }
  .tile__points {
    font-size: 1.2rem;
    bottom: 5px;
    right: 8px;
  }
}

/* laptop */

@media (max-width: 500px) {
  .tile__points--sm {
    bottom: 2px;
    right: 2px;
    font-size: 0.4rem;
  }
}

@media (max-height: 850px) {
  .tile__points {
    font-size: 0.7em;
    bottom: 0.3em;
    right: 0.3em;
  }

  .tile__points--sm {
    bottom: 1.8px;
    right: 1.8px;
    font-size: 0.36rem;
  }
  .tile__wrapper--rack {
    width: 13.9%;
    margin: 0 1px;
  }
}

/* desktop */
@media (min-width: 850px) {
  .tile__points--sm {
    font-size: 0.6rem;
  }
}
