/* mobile */

.tileRack__wrapper {
  width: 95vw;
  height: 14vw;
  min-width: 350px;
  align-self: center;
  display: flex;
  background: rgb(47, 46, 45);
  box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.9),
    0px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 0.2rem 0 1px;
  border-radius: 4px;
  border: 6px solid rgb(39, 36, 34);
  border-top: none;
  transform-style: preserve-3d;
  transform: rotateX(5deg);
  -webkit-transform: rotateX(5deg);
  -moz-transform: rotateX(5deg);
  -ms-transform: rotateX(5deg);
  -o-transform: rotateX(5deg);
  margin: 10px 0 5px;
  min-height: 55px;
  max-width: 510px;
  max-height: 65px;
}

/* tablet */
@media (min-width: 510px) {
  .tileRack__wrapper {
    max-height: 75px;
  }
}

/* large tablet */
@media (min-width: 850px) {
  .tileRack__wrapper {
    width: 70vh;
    margin-top: 10px;
    height: 10vh;
    justify-content: flex-start;
    max-width: 70vh;
    max-height: 10vh;
    min-width: 475px;
    min-height: 70px;
  }
}

/* laptop */
@media (min-width: 1000px) {
}

/* desktop */
@media (min-width: 1250px) {
}
