/* mobile */

.tile__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  background: #f3f2d2;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.4);
}

.tile__wrapper:hover {
  background: #fff652;
 
}

.tile__wrapper--selected {
  background: #fff652;
}

.tile__letter {
  color: rgb(42, 102, 42);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.9);
}

.tile__points {
  color: rgb(42, 102, 42);
  position: absolute;
  bottom: 2px;
  right: 5px;
  font-size: 0.7rem;
}

.tile__points--sm {
  color: rgb(42, 102, 42);
  position: absolute;
  bottom: 2px;
  right: 5px;
  font-size: 0.6rem;
}

/* tablet */
@media (min-width: 500px) {
  .tile__letter {
    padding: 1rem 0;
    font-size: 2rem;
  }
  .tile__points {
    font-size: 1rem;
  }
}

/* large tablet */
@media (min-width: 750px) {
  .tile__letter {
    padding: 1rem 0;
    font-size: 2.5rem;
  }
  .tile__points {
    font-size: 1.2rem;
    bottom: 5px;
    right: 8px;
  }
}

/* laptop */
@media (min-width: 1000px) {
  .tile__letter {
    padding: 1.5rem 1.5rem;
    font-size: 2.5rem;
  }
  .tile__points {
    font-size: 1rem;
  }
}

/* desktop */
@media (min-width: 1250px) {
}
